<div class="container">
  <div class="add-btn-container">
    <button mat-flat-button color="accent"  (click)="addUser()">
      <mat-icon>add</mat-icon>
      Ajouter utilisateur
    </button>
  </div>
  <div class="table-container">
    <table>
      <tr>
        <th>Login</th>
        <th>Mot de passe</th>
        <th>Date de naissance</th>
        <th></th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{user.login}}</td>
        <td>{{user.password}}</td>
        <td>{{user.birthday | dateCh}}</td>
      </tr>
    </table>
  </div>
  <div class="form-container" *ngIf="isUserFormDisplayed">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input [(ngModel)]="currentUser.login" matInput placeholder="Login">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input type="password" [(ngModel)]="currentUser.password" matInput placeholder="Mot de passe">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Confirmer mot de passe</mat-label>
        <input type="password" matInput placeholder="Confirmer mot de passe">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Date de naissance</mat-label>
        <input matInput [(ngModel)]="currentUser.birthday" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-btns-container">
      <button mat-stroked-button (click)="cancel()">Annuler</button>
      <button mat-flat-button color="primary" (click)="saveUser()">Enregistrer</button>
    </div>
  </div>
</div>